.git
.github
.gitattributes
.gitignore
.prettierignore
.prettierrc.json
eslint.config.json
README.md
tsconfig.eslint.json
vitest.config.ts

docker-compose.yml
Dockerfile

node_modules
.env

dist

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
